<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Apple | Ecommerce Ads</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>

    <body>
        <div class="paragh">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="container content">
            <!-- Jumbotron Header -->
            <div class="jumbotron home-spacer" id="products-jumbotron">
                <h1>Apple Products</h1>
            <hr>
                <p>According to your demographics and recent activities in our store, we found these products for you.</p>

            </div>
            <hr>

            <div class="row text-center" id="cameras">
                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/apple/2.jpg" alt="">
                        <div class="caption">
                            <h3>iPhone 12</h3>
                            <p>Price: 799  USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/apple/1.jpg" alt="">
                        <div class="caption">
                            <h3>iPhone 13 </h3>
                            <p>Price: 829 USD </p>
                            <button> Buy </button><button> Cart </button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/apple/3.jpg" alt="">
                        <div class="caption">
                            <h3>iPhone XS </h3>
                            <p>Price: 286.99 USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/apple/4.jpg" alt="">
                        <div class="caption">
                            <h3>iPad Air(2022) </h3>
                            <p>Price: 549.99 USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>
            </div>


            </div>

            

            </div>
        </div>
        <footer>
            <div class="container">
                <center>
                 <p>&#169Bada Ruth Modupeoluwa</p>
                </center>	
            </div>    
        </footer>
    </body>

</html>
