<!DOCTYPE html>
<head>
    <title>Home | Ecommerce Ads</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <!--jQuery library--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Latest compiled and minified JavaScript--> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
    <div>
        <div class="banner-image">
            <div class="container">
            <center>
                <div class="banner_content">
                    <h1>Welcome to Our Advertisement System</h1>
                    <p>We show you personalized products based on your demographics and most recent activities</p> 
                    <a type="submit" href="/form" class="btn btn-danger
                    btn-lg active">Proceed</a>  
                </div>
            </center>
            </div>
             
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                                <img src='static/images/index/index1.jpg'alt="">
                                <div class="caption">
                                    <p>Find Your Best Products Easily.</p>
                                </div>
                            </div> 
                        </a>
                    </div>
    
                    <div class="col-sm-4">
                           <div class="thumbnail">
                                <img src="static/images/index/index2.jpg" alt="">
                                <div class="caption">
                                    <p>Quality Products Only.</p>
                                </div>
                            </div> 
                        </a>
                    </div>
    
                    <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="static/images/index/index3.jpg" alt="">
                                <div class="caption">
                                    <p>Maximum Satisfaction.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <footer>
            <div class="container">
                <center>
                 <p>&#169Bada Ruth Modupeoluwa</p>
                </center>	
            </div>    
        </footer>
</body>
    </html>
