<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Xiaomi | Ecommerce Ads</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>

    <body>
        <div class="container content">
            <!-- Jumbotron Header -->
            <div class="jumbotron home-spacer" id="products-jumbotron">
                <h1>Xiaomi Products</h1>
                <p>According to your demographics and recent activities in our store, we found these products for you.</p>

            </div>
            <hr>

            <div class="row text-center" id="cameras">
                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/xiaomi/1.jpg" alt="">
                        <div class="caption">
                            <h3>Poco C40</h3>
                            <p>Price: 165  USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/xiaomi/2.jpg" alt="">
                        <div class="caption">
                            <h3>Redmi 10 Power</h3>
                            <p>Price: 189 USD </p>
                            <button> Buy </button><button> Cart </button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/xiaomi/3.jpg" alt="">
                        <div class="caption">
                            <h3>black shark 5 </h3>
                            <p>Price: 549 USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="static/images/xiaomi/4.jpg" alt="">
                        <div class="caption">
                            <h3>Civi 1S</h3>
                            <p>Price: 452 USD</p>
                            <button> Buy </button><button> Cart </button>
                        </div>
                    </div>
                </div>
            </div>


            </div>

            

            </div>
        </div>
        <footer>
            <div class="container">
                <center>
                 <p>&#169Bada Ruth Modupeoluwa</p>
                </center>	
            </div>    
        </footer>
    </body>

</html>
